.container {
    display: grid;
    grid-template-areas: 
                        "header nav sidebar"
                        "header content1 content1"
                        "header row1 row2"
                        "header content2 content2"
                        "header footer footer";
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 3fr 2fr;
    margin-bottom: 100px;
}
.container img {
    width: 300px;
    height: 350px;
}
.header {
    background-color: coral;
    grid-area: header;
}
.nav {
    background-color: darkcyan;
    grid-area: nav;
    height: 100px;
}
.sidebar {
    background-color: darkorchid;
    grid-area: sidebar;
}
.content1 {
    background-color: grey;
    grid-area: content1;
}
.row1 {
    background-color: palevioletred;
    grid-area: row1;
}
.row2 {
    background-color: slateblue;
    grid-area: row2;
}
.content2 {
    background-color: wheat;
    grid-area: content2;
}
.footer {
    background-color: olive;
    grid-area: footer;
}
.contain2 {
    display: grid;
    grid-template-areas: 
                        "h k d m rk dm c"
                        "h v w e rk dm c"
                        "n v w e rk dm c"
                        "n r g a rk dm c";
    grid-template-columns: 3fr 2fr 2fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-gap: 10px;
    margin-bottom: 50px;
}
.contain2 img {
    width: 300px;
    height: 200px;
}
.h {
    background-color: orange;
    grid-area: h;
    height: 200px;
}
.n {
    background-color: dodgerblue;
    grid-area: n;
}
.k {
    background-color: purple;
    grid-area: k;
}
.d {
    background-color: seagreen;
    grid-area: d;
}
.m {
    background-color: slateblue;
    grid-area: m;
}
.v {
    background-color: red;
    grid-area: v;
}
.w {
    background-color: mediumvioletred;
    grid-area: w;
}
.e {
    background-color: midnightblue;
    grid-area: e;
}
.r {
    background-color: mediumpurple;
    grid-area: r;
}
.g {
    background-color: lightsalmon;
    grid-area: g;
}
.a {
    background-color: khaki;
    grid-area: a;
}
.rk {
    background-color: hotpink;
    grid-area: rk;
}
.dm {
    background-color: crimson;
    grid-area: dm;
}
.c {
    background-color: aqua;
    grid-area: c;
}